<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_WBfqtrY-lRxfShZZZxmP93I9dMTVW9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1028982735021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeOTP</string>
	<key>PROJECT_ID</key>
	<string>react-native-otp-79278</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-otp-79278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028982735021:ios:e3c405e6e22a7d2ccfc624</string>
</dict>
</plist>